section#home
    header.head__home
        nav.head__nav
            h1.head__logo-img
                img(src="./assets/logos/logo.png", alt="Ideas")
            ul.nav__list
                li.nav__item 
                    a(href="#services").nav__link what we do 
                li.nav__item 
                    a(href="#contact").nav__link contact 
    article.box.box__home
        h2.box__title Creativity 
            br
            | for Brands