section#services
    header.head__services
        nav.head__nav
            h2.head__title services 
            ul.nav__list.nav__list--right
                li.nav__item 
                    a(href="#home").nav__link home  
                li.nav__item 
                    a(href="#contact").nav__link contact 
    article.box.box__services
        h2.box__title We can
            span  do a lot
    article.content.content__services
        .content-wrapper
            div.card
                img(src="./assets/icons/brainstorming.png", alt="brainstorming")
                h3.card__title brainstorming
                p.card__text Think together. Do more.
            div.card
                img(src="./assets/icons/innovation.png", alt="innovation")
                h3.card__title innovation
                p.card__text The only truly sustainable competitive advantage over time.
            div.card
                img(src="./assets/icons/solutions.png", alt="solutions")
                h3.card__title solutions
                p.card__text We see what others don't. 
                    br 
                    | We do what others can't. 