// /*! -------------------------
// Colors
// -------------------------- */

@use "./variables" as *;

// Branding

$color-primary: #fb4545;
$color-secondary: #1c1b20;

// Bg & Fg

$color-bg-light: #ffffff;
$color-bg-semi: #f8f8f8;

// Texts

$color-label-dark: #606062;
$color-label-light: #bebec0;
